<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	<title>Indie Network</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/darkly/theme/bootstrap.min.css' %}" rel="stylesheet">
	<!--external css-->
	<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/darkly/theme/bootstrap.min.css' %}"/>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Indie Network</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar...">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Conta</a></li>
              <li><a href="#">Mudar Perfil</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="col-xs-12 col-md-8">

    <div class="row">
      <h1 class="col-xs-12">Jogos para você</h1>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="{% static 'img/jogo.jpg' %}" alt="Jogo">
        </a>
        <div class="caption">
            <h3>Game</h3>
            <p>game description game description game description</p>
            <p><a href="#" class="btn btn-primary" role="button">Jogar</a></p>
          </div>
      </div>
    </div>
    <!--<p><a class="btn btn-link" href="#" role="button">ver mais</a></p>-->
  </div>

  <aside class="col-xs-12 col-md-4">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-warning">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Novidades nos Devlogs
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Devlog Name</h4>
                    <a href="#">correção de bug</a> em versão 0.1
                  </div>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-eye-open"></span> ver</button>
                    <button type="button" class="btn btn-link text-danger"><span class="glyphicon glyphicon-trash"></span> remover</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Devlog Name</h4>
                    <a href="#">correção de bug</a> em versão 0.1
                  </div>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-eye-open"></span> ver</button>
                    <button type="button" class="btn btn-link text-danger"><span class="glyphicon glyphicon-trash"></span> remover</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Devlog Name</h4>
                    <a href="#">correção de bug</a> em versão 0.1
                  </div>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-eye-open"></span> ver</button>
                    <button type="button" class="btn btn-link text-danger"><span class="glyphicon glyphicon-trash"></span> remover</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Top Developers
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p>Most followed developers from the week</p>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media row">
                  <div class="media-left media-middle col-xs-3 col-md-2">
                    <a href="#">
                      <img class="media-object" src="{% static 'img/ui-zac.jpg' %}" alt="Developer" style="max-width: 100%;">
                    </a>
                  </div>
                  <div class="media-body col-xs-9 col-md-10">
                    <h4 class="media-heading">Developer Name</h4>
                    <span class="glyphicon glyphicon-heart-empty"></span> 999 followers
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="media row">
                  <div class="media-left media-middle col-xs-3 col-md-2">
                    <a href="#">
                      <img class="media-object" src="{% static 'img/ui-zac.jpg' %}" alt="Developer" style="max-width: 100%;">
                    </a>
                  </div>
                  <div class="media-body col-xs-9 col-md-10">
                    <h4 class="media-heading">Developer Name</h4>
                    <span class="glyphicon glyphicon-heart-empty"></span> 999 followers
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="media row">
                  <div class="media-left media-middle col-xs-3 col-md-2">
                    <a href="#">
                      <img class="media-object" src="{% static 'img/ui-zac.jpg' %}" alt="Developer" style="max-width: 100%;">
                    </a>
                  </div>
                  <div class="media-body col-xs-9 col-md-10">
                    <h4 class="media-heading">Developer Name</h4>
                    <span class="glyphicon glyphicon-heart-empty"></span> 999 followers
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="media row">
                  <div class="media-left media-middle col-xs-3 col-md-2">
                    <a href="#">
                      <img class="media-object" src="{% static 'img/ui-zac.jpg' %}" alt="Developer" style="max-width: 100%;">
                    </a>
                  </div>
                  <div class="media-body col-xs-9 col-md-10">
                    <h4 class="media-heading">Developer Name</h4>
                    <span class="glyphicon glyphicon-heart-empty"></span> 999 followers
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="media row">
                  <div class="media-left media-middle col-xs-3 col-md-2">
                    <a href="#">
                      <img class="media-object" src="{% static 'img/ui-zac.jpg' %}" alt="Developer" style="max-width: 100%;">
                    </a>
                  </div>
                  <div class="media-body col-xs-9 col-md-10">
                    <h4 class="media-heading">Developer Name</h4>
                    <span class="glyphicon glyphicon-heart-empty"></span> 999 followers
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Event Dates
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <!-- CALENDAR-->
            <div id="calendar" class="mb">
                <div class="panel green-panel no-margin">
                    <div class="panel-body">
                        <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                            <div class="arrow"></div>
                            <h3 class="popover-title" style="disadding: none;"></h3>
                            <div id="date-popover-content" class="popover-content"></div>
                        </div>
                        <div id="my-calendar"></div>
                    </div>
                </div>
            </div><!-- / calendar -->
          </div>
        </div>
      </div>
    </div>
  </aside>

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/html5shiv.js' %}"></script>
  <script src="{% static 'js/bootstrap/respond.min.js' %}"></script>

  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
  <script>
  $.backstretch("{% static 'img/blur_bg.jpg' %}", {speed: 500});
  </script>

  <script src="{% static 'js/zabuto_calendar.js' %}"></script>
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
</body>
</html>